/* css/animations.css */

/* Animasi Muncul saat di-scroll (Reveal) */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Animasi Filter Portfolio di works.html */
.portfolio-item {
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.portfolio-item.hide {
    display: none;
}